<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIju1MpeeMiujo_PYKkJ90kbR-8m_-mCY</string>
	<key>GCM_SENDER_ID</key>
	<string>1035888198980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aegona.iportal2</string>
	<key>PROJECT_ID</key>
	<string>iportal-mobile-test</string>
	<key>STORAGE_BUCKET</key>
	<string>iportal-mobile-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035888198980:ios:61f062b1a43ecf64b5c311</string>
</dict>
</plist>